body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

:root{
  --red: #b00;
  --primaryColor :#40b7ad;
  --secondaryColor :#fb743e;
  --degrade : linear-gradient(to top, #99f2c8, #40b7ad);
  --fondBouton : #40b7ad;
  --fondHover : linear-gradient(to top, #f5af19, #f12711);
}

